.transaction {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 68rem;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #333333;
}

.transaction-values,
.transaction-types {
  width: 4.5rem;
}

.update-button,
.delete-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.update-button:hover {
  transition: 0.5s;
  scale: 1.1;
}
.delete-button:hover {
  transition: 0.5s;
  scale: 1.1;
}

/* mobile port */

@media (max-width: 1024px) {
  .transaction {
    width: 48.55rem;
    height: 2.142rem;
  }

  .update-button,
  .delete-button {
    width: 1.428rem;
    height: 1.428rem;
  }
}

@media (max-width: 768px) {
  .transaction {
    width: 38.828rem;
  }
}

@media (max-width: 430px) {
  .transaction {
    width: 22.3rem;
    justify-content: center;
    gap: 2.5em;
  }
}

@media (max-width: 375px) {
  .transaction {
    width: 20.39rem;
    gap: 3rem;
  }

  .transaction-values,
  .transaction-types {
    width: 3rem;
  }
}

@media (max-width: 320px) {
  .transaction {
    width: 18.1rem;
    font-size: 0.8rem;
    gap: 2.5rem;
  }

  .transaction-values,
  .transaction-types {
    width: 3rem;
  }
}
